@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

*, *::before, *::after{
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
}

:root {
    --primary-color: #f3eae5;
    --text-dark: #2c2724;
    --white: #ffffff;
    --max-width: 1200px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

main {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--primary-color);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    position: relative;
    width: 100%;
    max-width: 1020px;
    height: 640px;
    background-color: var(--white);
    border-radius: 3.3rem;
    box-shadow: 0 60px 40px -30px rgb(0, 0, 0, 0.27)
}

.inner-box {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.form-wrap {
    position: absolute;
    height: 100%;
    width: 45%;
    top: 0;
    left: 0;
}

.carousel {
    position: absolute;
    height: 100%;
    width: 56%;
    left: 45%;
    top: 0;
    background-color: var(--text-dark);
    border-radius: 2rem;
}

form {
    max-width: 260px;
    width: 100%;
    
}